[Desktop Entry]
Name=Photopea
Comment=Photopea Image Editor with Rembg Integration
Exec=bash -c '"$(dirname "%k")/launch.sh"'
Icon=/PATH/TO/photopea-rembg/photopea.png
Terminal=false
Type=Application
Categories=Graphics;
